@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
:root {
  --clr-oxford-blue: hsla(212, 100%, 17%, 1);
  --clr-oxford-blue-3: hsla(219, 100%, 10%, 1);
  --clr-delft-blue: hsla(220, 29%, 28%, 1);
  --clr-slate-gray: hsla(222, 11%, 54%, 1);
  --clr-cherry-blossom-pink: hsla(345, 100%, 85%, 1);
  --clr-bakermiller-pink: hsla(345, 100%, 78%, 1);
  --clr-russian-violet: hsla(255, 45%, 18%, 1);
  --clr-lilac: hsla(292, 28%, 68%, 1);
  --clr-cornsilk: hsla(52, 94%, 94%, 1);
  --clr-earth-yellow: hsla(32, 65%, 62%, 1);
  --clr-tigers-eye: hsla(28, 67%, 44%, 1);
}
body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
  margin-right: 20px;
}
.header{
  position: fixed;
  top: 1%;
}
.search-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 15px 1.5rem;
  font-size: 18px;
  width: 400px;
  background-color: rgb(104, 108, 118);
  border-radius: 20px;
  color: rgb(205, 200, 200);
}
.subscription{
  padding: 20px 1.5rem;
  background-color: rgb(104, 108, 118);
  color: #fff;
  width: 400px;
  margin-top: 4rem;
  border-radius: 18px;
}
.verify{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.subscribe{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 18px;
}
.verification{
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  background-color: rgb(52, 153, 255);
  border-radius: 20px;
}
.verification:hover{
  cursor: pointer;
  background-color: dodgerblue;
}
.trending{
  padding: 20px 1.5rem;
  background-color: rgb(104, 108, 118);
  color: #fff;
  width: 400px;
  margin-top: 1rem;
  border-radius: 18px;
}
.heading{
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 20px;
}
.first-place{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-one{
  font-size: 15px;
  color: rgb(205, 200, 200);
  margin-bottom: 5px;
}
.tv-show{
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
}
.tweets{
  font-size: 15px;
  color: rgb(205, 200, 200);
  margin-bottom: 25px;
}
.second-place{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-place{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fourth-place{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifth-place{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dots{
  margin-bottom: 4.5rem;
  font-size: 22px;
  font-weight: 600;
  color: rgb(205, 200, 200);
}
.more{
  font-size: 18px;
  font-weight: 400;
  color: dodgerblue;
}
.first-place:hover{
  background-color: rgb(131, 135, 146);
  cursor: pointer;
}
.second-place:hover{
  background-color: rgb(131, 135, 146);
  cursor: pointer;
}
.third-place:hover{
  background-color: rgb(131, 135, 146);
  cursor: pointer;
}
.fourth-place:hover{
  background-color: rgb(131, 135, 146);
  cursor: pointer;
}
.fifth-place:hover{
  background-color: rgb(131, 135, 146);
  cursor: pointer;
}
.more:hover{
  cursor: pointer;
}
.celebrities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 1.5rem;
  background-color: rgb(104, 108, 118);
  color: #fff;
  width: 400px;
  margin-top: 1rem;
  border-radius: 18px;
}
.title-tag{
  width: 350px;
  font-size: 25px;
  font-weight: 900;
}
.actors{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
}
.cinema{
  width: 15%;
  border-radius: 50%;
}
.tick{
  width: 9%;
}
.modify{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero{
  display: flex;
  gap: 20px;
}
.hero-name{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.hero-name:hover{
  text-decoration: underline;
  
}
.id{
  color: rgb(205, 200, 200);
}
.follow-btn{
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border-radius: 18px;
}
.following{
  font-weight: 700;
}
.more-opt{
  width: 350px;
  margin-top: 25px;
  font-size: 18px;
  color: dodgerblue;
  cursor: pointer;
}
.copy-right{
  width: 3%;
}
.footer{
  width: 27%;
  margin: 1.5rem 0px;
}
.instruct-one{
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.ins-one:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ins-two:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ins-three:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ins-four{
 margin-right: 10px;
}
.ins-five{
 margin-right: 10px;
}
.ins-six{
 margin-right: 10px;
}
.ins-seven{
 margin-right: 10px;
}
.ins-four:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ins-five:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ins-six:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ins-seven:hover{
  cursor: pointer;
  text-decoration: underline;
}


